*{
    direction: rtl;
    text-align: right;
}

/* home page start */
.wsus__topbar_right li:first-child a {
	border-left: 0;
}

.wsus__topbar_right li:last-child a {
	border-left: 1px solid #ffffff57;
}

.wsus__single_property_search_check .accordion-button::after {
	right: auto;
	left: 21px;
}

.wsus__single_property_search_check .form-check 
.form-check-input {
	float: right;
	margin-left: 15px;
}

.wsus__topbar_left li a {
	margin-right: 0;
	margin-left: 30px;
}

.wsus__topbar_left li a i {
	margin-right: 0;
	margin-left: 5px;
}

.login_icon.ms-auto {
	margin-left: 0 !important;
}

.main_menu .dropdown-menu {
	right: 0;
}

.login_icon a i {
	margin-right: 0;
	margin-left: 5px;
}

.wsus__banner_search {
	left: 13px;
	right: auto;
}

.wsus__banner_search .nav-item button {
	border-right: 0;
	border-left: 1px solid #ffffff70;
}

.select2-container--default 
.select2-selection--single 
.select2-selection__arrow {
	right: auto;
	left: 30px;
}

.wsus__banner_text {
	left: auto;
	right: 10px;
}

.slick-list {
	direction: ltr;
}

.wsus__about .wsus__section_heading h2 {
	text-align: right;
}

.wsus__single_property_text ul li i {
	margin-right: 0;
	margin-left: 7px;
	transform: rotateY(180deg);
}

.wsus__single_property_footer .rating i {
	margin-left: 0;
	margin-right: 5px;
}

.wsus__single_property_text .tk {
	right: auto;
	left: 10px;
}

.wsus__single_property_img .sale, 
.wsus__single_property_img .rent {
	left: auto;
	right: 10px;
}

.wsus__top_properties_text {
	padding: 10px 0px 10px 10px;
}

.wsus__services_heading .wsus__section_heading {
	padding-right: 0;
	padding-left: 70px;
}

.wsus__single_team p i {
	margin-right: 0;
	margin-left: 5px;
}

.blog_header_images img {
	margin-right: 0;
	margin-left: 10px;
}

.wsus__blog_text .comment i {
	margin-right: 0;
	margin-left: 5px;
}

.wsus__blog_text .comment {
	right: auto;
	left: 25px;
}

.wsus__blog_text .blog_date {
	left: auto;
	right: 25px;
}

.wsus__blog_img .category {
	left: auto;
	right: 10px;
}

.wsus__testi_text {
	padding: 40px 0px 40px 20px;
}

.wsus__testi_img {
	border-right: none;
	border-left: 1px dashed #0A547A70;
}

.wsus__testi_text p i {
	right: auto;
	left: 0;
	transform: rotateY(180deg);
}

.wsus__footer_content .address i, 
.wsus__footer_content .call_mail i {
	margin-right: 0;
	margin-left: 10px;
}

.wsus__footer_content form button {
	right: auto;
	left: 3px;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

.footer_icon li a {
	margin-right: 0;
	margin-left: 10px;
}

.wsus__scroll_btn {
	right: auto;
	left: 25px;
}

.wsus__popular_text ul li i {
	margin-right: 0;
	margin-left: 5px;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}
/* home page end */


/* about us page start */
.wsus__single_team_img .team_link {
	right: auto;
	left: -60px;
}

.wsus__single_team:hover .team_link {
	right: auto;
	left: 0;
}
/* about us page end */


/* agent profile start */
.agent_profile_link li a {
	margin-right: 0;
	margin-left: 10px;
}

.wsus__agent_profile .wsus__property_topbar .nav-pills .nav-item {
	border-left: 0;
	border-right: 2px solid #eee;
}

.wsus__pagination .page-link i {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

.breadcrumb-item + .breadcrumb-item::before {
	float: right;
	padding-right: .5rem;
	padding-left: .5rem;
}

.breadcrumb-item + .breadcrumb-item {
	padding-left: 0;
}

.list_view .wsus__single_property_img {
	float: right;
}

.list_view .tk {
	right: 30px !important;
	left: auto !important;
}

.list_view .rent, .list_view .sale {
	left: 10px;
	right: auto;
}

.list_view .sale {
	right: auto !important;
	left: 75px !important;
}
/* agent profile end */


/* blog details start */
.wsus__blog_search form button {
	right: auto;
	left: 0;
}

.wsus__blog_det_img p span i {
	margin-right: 0;
	margin-left: 5px;
}

.wsus__blog_det_img p span {
	border-right: 0;
	border-left: 1px solid #fff;
}

.wsus__comm_img {
	float: right;
}

.wsus__comm_text {
	padding-left: 0;
	padding-right: 20px;
}
/* blog details end */


.wsus__faq .accordion-button::after {
	margin-left: 0;
    margin-right: auto;
}

.wsus__login_form span {
	transform: rotateY(180deg);
}

.wsus__login_form .form-control-lg {
	border-radius: 5px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.wsus__check_area .form-check input {
	margin-left: 15px;
}

.wsus__login_link li a span {
	left: auto;
	right: 0;
}

.wsus__login_link li a {
	padding: 10px 65px 10px 35px;
}

/* pricing start */
.wsus__single_price ul li {
	padding: 10px 35px 10px 10px;
	text-align: right;
}

.wsus__single_price ul li::after {
	left: auto;
	right: 7px;
	transform: rotateY(180deg);
}
/* pricing end */


/* property details start */
.wsus__single_details .item li {
	margin-right: 0;
	margin-left: 40px;
}

.wsus__single_details .item li i {
	margin-right: 0;
	margin-left: 7px;
}

.wsus__single_details .list li a i {
	margin-right: 0;
	margin-left: 5px;
	transform: rotateY(180deg);
}

.details_aminities ul li i {
	margin-right: 0;
	margin-left: 10px;
	transform: rotateY(180deg);
}

.details_review .wsus__select_review ul li span {
	border-right: 0;
	margin-right: 0;
	border-left: 1px solid #eee;
	margin-left: 15px;
}

.wsus__single_det_top .sale, .wsus__single_det_top .rent {
	margin-right: 0;
	margin-left: 10px;
}

.wsus__pro_det_top_rating span {
	margin-left: 0;
	margin-right: 5px;
}

.wsus__single_details .list li a {
	margin-right: 0;
	margin-left: 10px;
}

.details_nearest_location ul li {
	padding-right: 0;
	padding-left: 15px;
}

.wsus__sidebar_message_top .mail i {
	margin-right: 0;
	margin-left: 5px;
}

.wsus__property_topbar .nav-pills .nav-item {
	border-right: 0;
	border-left: 2px solid #eee;
}

.select2-container--default .select2-selection--single {
	background-color: #fff;
	border-right: 2px solid #eee;
}
/* property details end */


/* dashboard start */
.wsus__dashboard_side_bar {
	left: auto;
	right: 0;
}

.wsus__dashboard .col-xl-9.ms-auto {
	margin-left: 0 !important;
	margin-right: auto;
}

.wsus__contact_single i {
	transform: rotateY(180deg);
}

.wsus__faq .accordion-flush 
.accordion-button {
	text-align: right;
}

.wsus__deshboard_menu li a {
	padding: 12px 60px 12px 0px;
}

.wsus__deshboard_menu li a i {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	text-align: left;
}

.dash_aminities .form-check input {
	float: right;
	margin-left: 10px;
}

.form-check-input:checked[type="checkbox"] {
	transform: rotateY(180deg);
}

.wsus__dashboard .common_btn i {
	margin-right: 0;
	margin-left: 5px;
}

.existing_item span.del {
	right: auto;
	left: 0;
	text-align: center;
}

.existing_item p {
	padding-right: 0;
	padding-left: 35px;
}

.wsus__dash_info_img {
	border-right: 0;
	border-left: 1px solid #ddd;
}

.wsus__dash_info_text a i, .wsus__dash_info_text p i {
	transform: rotateY(180deg);
	text-align: left;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}

.invoice_right {
	text-align: left;
}

.invoice_right h4,
.invoice_right p {
	text-align: left;
}

.wsus__message_text {
	padding-left: 0;
	padding-right: 15px;
}
/* dashboard end */



@media (min-width: 992px) and (max-width: 1199.99px) {

	
	.wsus__comm_text {
		padding-right: 0;
	}

	.wsus__menu_icon {
		left: auto;
	}

	.wsus__dashboard_side_bar {
		transform-origin: right;
	}

	.wsus__close_icon {
		right: auto;
		left: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991.99px){

	.wsus__topbar_left li a {
		margin-left: 20px;
	}
	.navbar-toggler {
		text-align: center;
	}

	.main_menu .dropdown-menu {
		right: auto;
	}

	.wsus__menu_icon {
		left: auto;
	}

	.wsus__dashboard_side_bar {
		transform-origin: right;
	}

	.wsus__close_icon {
		right: auto;
		left: 10px;
	}
}

@media (min-width: 576px) and (max-width: 767.99px) {

	.wsus__topbar_left li a {
		margin-left: 20px;
	}
	.navbar-toggler {
		text-align: center;
	}

	.main_menu .dropdown-menu {
		right: auto;
	}

	.wsus__testi_text {
		padding: 20px;
	}

	.wsus__banner_text {
		left: 50%;
		right: auto;
	}

	.wsus__comm_text {
		padding-right: 0;
	}

	.wsus__menu_icon {
		left: auto;
	}

	.wsus__dashboard_side_bar {
		transform-origin: right;
	}

	.wsus__close_icon {
		right: auto;
		left: 10px;
	}

	.invoice_left h4,
	.invoice_left p {
		text-align: right !important;
	}
}

@media (max-width: 575.99px){

	.wsus__topbar_left li a {
		margin-left: 0;
	}

	.navbar-toggler {
		text-align: center;
	}

	.main_menu .dropdown-menu {
		right: auto;
	}

	.wsus__testi_text {
		padding: 20px;
	}

	.wsus__comm_text {
		padding-right: 0;
	}

	.wsus__single_details .item li {
		margin-left: 15px;
	}

	.wsus__menu_icon {
		left: auto;
	}

	.wsus__dashboard_side_bar {
		transform-origin: right;
	}

	.wsus__close_icon {
		right: auto;
		left: 10px;
	}

	.wsus__dash_info_img {
		border: 1px solid #ddd;
	}

	.invoice_left h4,
	.invoice_left p {
		text-align: right !important;
	}
}